<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hehe.Properties.Settings.DB_mo_hinh_3_tangConnectionString"
            connectionString="Data Source=TRUNGHUY-PC\SQLEXPRESS;Initial Catalog=DB_mo_hinh_3_tang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>